<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Automation" parallel="tests">

    <test name="Chrome Execution Trial Signup Page">

        <parameter name="browserName" value="Chrome" />
        <parameter name="browserVersion" value="Any" />
        <parameter name="platform" value="Windows" />

        <classes>
            <class name="test.TrialSignupTest" />
        </classes>

    </test>

    <!--<test name="Chrome Execution Trial Signup Page 2">-->

        <!--<parameter name="browserName" value="Chrome" />-->
        <!--<parameter name="browserVersion" value="Any" />-->
        <!--<parameter name="platform" value="Windows" />-->

        <!--<classes>-->
            <!--<class name="test.TrialSignupTest" />-->
        <!--</classes>-->

    <!--</test>-->

    <!--<test name="Chrome Execution Login Page">-->

        <!--<parameter name="browserName" value="Chrome" />-->
        <!--<parameter name="browserVersion" value="Any" />-->
        <!--<parameter name="platform" value="Windows" />-->

        <!--<classes>-->
            <!--<class name="test.LoginPageTest" />-->
        <!--</classes>-->

    <!--</test>-->


    <!--<test name="Chrome Execution Login Page 2">-->

        <!--<parameter name="browserName" value="Chrome" />-->
        <!--<parameter name="browserVersion" value="Any" />-->
        <!--<parameter name="platform" value="Windows" />-->

        <!--<classes>-->
            <!--<class name="test.LoginPageTest" />-->
        <!--</classes>-->

    <!--</test>-->

    <!--<test name="Chrome Execution Login Page 3">-->

        <!--<parameter name="browserName" value="Chrome" />-->
        <!--<parameter name="browserVersion" value="Any" />-->
        <!--<parameter name="platform" value="Windows" />-->

        <!--<classes>-->
            <!--<class name="test.LoginPageTest" />-->
        <!--</classes>-->

    <!--</test>-->

</suite>